.menu {
  z-index: 0;
}

.menu:before {
  content: "";
  background-image: url("./assets/images/photo-1492778297155-7be4c83960c7.jpeg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
